#server:
#  port: 8080
#  servlet:
#    context-path: /zoo

spring:
  liquibase:
    enabled: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/spring-city-mig
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
#logging:
#  level:
#    org:
#      hibernate:
#        SQL:
#          debug
#        type:
#          descriptor:
#            sql:
#              BasicBinder:
#                trace



